hr {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 80%;
}

.ReviewPageContainer{
    display:flex;
    align-items:top;
    justify-content: center;
    margin: 30px 0px;
    padding: 40px 0px;
}

.ReviewStats{
    text-align:center;
    background-color:white;
    color:navy;
    font-size:40px;
    font-style:bold;
    border-radius:20px;
    height:470px;
    width:400px;
    padding: 30px;
    margin-right: 20px;
}

.classStat{
    margin-top:29px;
    text-align:left;
    font-size:25px;
    color: black;
    font-weight: bold;
}

.ReviewSection{
    font-size:20px;
    background-color:white;
    color:black;
    width:700px;
    height:750px;
    border-radius:30px;
    text-align:center;
    overflow-y:scroll;
    margin-left: 20px;
}

.reviews{
    margin: 15px 0px;
    text-align:left;
    border-radius:15px;
    background-color:white;
    font-size:20px;
    display:flex;
    align-items: top;
    flex-direction:row;
}

.reviewTitle{
    margin-top: 25px;
    color:black;
    font-size:40px;
    font-weight: bold;
}
.profName{
    flex:1;
    color:gray;
    width:130px;
    font-size:20px;
    position:relative;
    margin-right:30px;
}
.classTime{
    font-size:19px;
    width:130px;
    margin-top:10px;
}

.rating_out_5{
    text-align:center;
    border-style:solid;
    border-radius:20px;
    margin-left: 25px;
    height: 30px;
}

.ratingDescription{
    color:grey;
    font-size:20px;
    margin: 0px 25px;
}

.reviewBox{
    width:640px;
    height:150px;
    padding: 10px;
    border-radius: 3px;
    margin: 30px 30px;
    border-width: 3px;
}

.profInput{
    font-size:20px;
    margin-right:10px;
}

.reviewButton{
    margin-left:160px;
    width:160px;
    height:50px;
}

.classTitle {
    font-weight: bold;
    color: black;
    font-size: 50px;
}

.classPercent {
    font-weight: normal;
}

