{% csrf_token %}

<h3>Hello, {{student.fname}} {{student.lname}}</h3>

<a href="{% url 'add_course' %}">Add Course</a>
<hr>

<h3>Current Courses</h1>
{% for i in curr %}
<p>{{i}}</p>
<a href="{% url 'find_peer' i.id %}">Find Peers</a>
<a href="{% url 'find_tutor' i.id %}">Find Tutors</a>
<a href="{% url 'remove_current_course' i.id %}">Remove Course</a>
<a href="{% url 'mark_complete' i.id %}">Mark as Complete</a>
{% endfor %}

<hr>
<h3>Completed Courses</h1>

{% for i in past %}
<p>{{i}}</p>
<a href="{% url 'become_tutor' i.id %}">Become a Tutor</a>
<a href="{% url 'remove_past_course' i.id %}">Remove Course</a>
<a href="{% url 'mark_current' i.id %}">Mark as Current</a>
{% endfor %}

<hr>
<h3>Tutoring Courses</h1>

{% for i in tut %}
<p>{{i}}</p>
<a href="{% url 'remove_tutoring_course' i.id %}">Remove Course</a>
{% endfor %}