{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>Courses:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Add Course</a>
			<table class="table table-sm">
				<tr>
					<th>Course</th>
					<th>Professor</th>
				</tr>

				
				{% for course in courses %}
					<tr>
						<td>{{course.name}}</td>
                        <td>{{course.prof}}</td>
                        <td><a class="btn btn-sm btn-info" href="">View</a></td>
                        <td><a class="btn btn-sm btn-info" href="">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Last 5 Users</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create User</a>
			<table class="table table-sm">
				<tr>
					<th>Name</th>
					<th>Date Registered</th>
					<th>Email</th>
                    <th>Phone</th>
				</tr>

				{% for student in students %}
				<tr>
					<td>{{student.name}}</td>
                    <td>{{student.date_created}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.phone}}</td>
                    <td><a class="btn btn-sm btn-info" href="">View</a></td>
					<td><a class="btn btn-sm btn-info" href="">Update</a></td>
					<td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>

</div>

{% endblock %}